{#
Main section with right aside 
#}
<div class="{{ aside_width != 0? 'grid-container' }} page-wrapper">
    <div class="grid-x grid-margin-x page-layout">

        <div class="auto cell">
            <main>
                {% block main %}
                    {% if record is defined %}
                        <article class="">      
                            {% if record.title is defined %}
                                <h1 class="page-title">{{ record.title }}</h1>
                            {% endif %}

                            {% if record.image is defined %}
                                <img class="thumbnail" src="{{ record.image | image(1200,400) }}" />
                            {% endif %}

                            {% if record.content is defined %}
                                {{ record.content |raw}}
                            {% endif %}

                            {% if record.imagelist is defined %}
                                {% from 'includes/carousels/_carousel_simple.twig' import carousel as carousel %}

                                {% set carouseloptions = {
                                    'showtitle': true,
                                    'shownav': true,
                                    'navtype': 'thumbnails',   
                                } %}
                                {{ carousel(record.imagelist,carouseloptions) }}
                            {% endif %}


                            {% if record.imagelist is defined %}

                                {% from 'includes/galleries/_gallery_simple.twig' import gallery as gallery %}
                                {% set galleryoptions = {
                                    'showtitle': true,
                                    'shownav': true,
                                    'navtype': 'thumbnails',   
                                } %}
                                {{ gallery(record.imagelist,galleryoptions) }}
                            {% endif %}


                            {% if record.title is defined %}
                            {% endif %}

                            {% set fieldsss = fields(record=record, template='includes/_sub_fields.twig') %}
                            {#                            {{ fieldsss|raw }}#}
                            {% include 'includes/_record_footer.twig' with {'record': record} %}
                        </article>

                    {% elseif records is defined %}

                        <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-2">
                            {% for record in records %}
                                <div class="cell">
                                    {% include 'includes/_listing_item.twig' with {'record': record} %}
                                </div>
                                {% if not loop.last %}
                                    {#                                <hr />#}
                                {% endif %}

                            {% else %}
                                <h2>{{ __('general.phrase.no-content-found') }}</h2>
                                <p>Unfortunately, no content could be found.</p>
                            {% endfor %}
                        </div>

                    {% endif %}

                {% endblock %}
            </main>
        </div>

        {% if aside_width is defined and aside_width  != 0%}
            <div class="large-{{ aside_width }} cell">
                <aside class="main-aside right">
                    {% block aside %}
                        {% include 'includes/_aside.twig' %}
                    {% endblock %}
                </aside>
            </div>
        {% endif %}
    </div>
</div>
