<div class="container">
    <footer>
        <hr />
        <p>This site was built with <a href="https://bolt.cm">Bolt CMS</a>.</p>
    </footer>
</div>

{#        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
<script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/jquery.js', 'theme') }}"></script>
<script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/what-input.js', 'theme') }}"></script>
<script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/foundation.js', 'theme') }}"></script>
{#<script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/app.js', 'theme') }}"></script>#}
<script src="{{ asset('js/app.js', 'theme') }}"></script>
