{% extends 'includes/_master_template.twig' %}
{% from 'includes/_macros.twig' import placeholder as placeholder %}
{% from 'includes/_macros.twig' import debugpopup as debugpopup %}
{% set body_classes = app.request.get('contenttypeslug')  %}
{# 
set main_width and aside_width values 
#}
{% if theme.layout is defined %}
        
        {% if record is defined %}
            {% set contenttypeslug = record.contenttype.name |lower %}
            {% set contenttype_slug = record.contenttype.name |lower %}
            {% set contenttype_singularslug = record.contenttype.singular_name |lower %}
        {% else %}
            {% set contenttypeslug = app.request.get('contenttypeslug')|lower %}
            {% set contenttype_slug = app.request.get('contenttypeslug') |lower %}
            {% set contenttype_singularslug = app.request.get('contenttypeslug') |lower %}
        {% endif %}

{#    {% if _context.records is defined %}
        {% set contenttype_slug = _context.contenttype |lower %}
        {% set contenttype_singularslug = _context.contenttype |lower %}
    {% else %}
        {% set slug = record.slug |lower %}
        {% set contenttype_slug = _context.record.contenttype.slug |lower %}
        {% set contenttype_singularslug = _context.record.contenttype.singular_slug |lower %}
    {% endif %}#}


    {% if record is defined and theme.layout[contenttype_singularslug~'_'~record.slug] is defined %}
        {% set main_width = theme.layout[contenttype_singularslug~'_'~record.slug].main.width %}
        {% set aside_width = theme.layout[contenttype_singularslug~'_'~record.slug].aside.width  %}
    {% elseif theme.layout[contenttype_singularslug] is defined %}
        {% set main_width = theme.layout[contenttype_singularslug].main.width %}
        {% set aside_width = theme.layout[contenttype_singularslug].aside.width  %}
    {% elseif theme.layout[contenttype_slug] is defined %}
        {% set main_width = theme.layout[contenttype_slug].main.width %}
        {% set aside_width = theme.layout[contenttype_slug].aside.width  %}
    {% else %}
        {% set main_width = theme.layout['defaults'].main.width %}
        {% set aside_width = theme.layout['defaults'].aside.width  %}
    {% endif %}


{% endif %}

{#
set default templates 
#}
{% set header_template = ['includes/_page_header_simple.twig'] %}
{% set header_nav_template = 'includes/navs/_nav_sticky_responsive_dropdown_drillin.twig' %}    
{#{{ menu(template='includes/navs/_nav_sticky_responsive_dropdown_drillin.twig') }}#}
{% set main_template = ['includes/_main_xgrid.twig'] %}
{% set footer_template = ['includes/_page_footer_simple.twig'] %}

{% block headincludes %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {#        <link rel="stylesheet" href="{{ asset('thirdparty/zurb-foundation-6-prebuilt/foundation.css', 'theme') }}" />#}
    <link rel="stylesheet" href="{{ asset('thirdparty/foundation/normalize.css', 'theme') }}" />
    {#    <link rel="stylesheet" href="{{ asset('thirdparty/foundation/foundation.css', 'theme') }}" />#}
    <link rel="stylesheet" href="{{ asset('css/foundation.css', 'theme') }}" />
    <link rel="stylesheet" href="{{ asset('thirdparty/motion-ui/motion-ui.css', 'theme') }}" />
    <link rel="stylesheet" href="{{ asset('thirdparty/foundation-icon-fonts/foundation-icons.css', 'theme') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css', 'theme') }}" />
{% endblock %}

{% block title %}
    {% if record.title is defined %}
        {{ record.title|striptags }} |
    {% endif %}
    {{ app.config.get('general/sitename') }}  
    {% if record.title is not defined %}
        | {{ app.config.get('general/payoff') }}
    {% endif %}
{% endblock title %}

{% block header %}         
    {% include header_template  %}
{{ contenttypeslug }}
{% endblock header %}

{# main & aside blocks are nested inside body block #}
{% block body %}
    {% embed main_template %}
        {% block main %} 
            {{ parent() }}

        {% endblock main %}
        {% block aside %}         
            {{ parent() }}
        {% endblock aside %}
    {% endembed %}
{% endblock body%}

{% block footer %}         
    {% include footer_template  %}

    <div class='grid-x' data-sticky-container>
        <div class="sticky" data-sticky data-margin-bottom="2"  data-stick-to="bottom">


            {% if theme.dumppopups is defined  and  theme.dumppopups == true%} 
                {% if records is defined  %}
                    {{ debugpopup('dump records', records) }}
                {% else %}
                    {{ debugpopup('dump.record', record) }}
                {% endif %}
                {{ debugpopup('dump _self', _self) }}
                {{ debugpopup('dump _context', _context) }}
                {{ debugpopup('dump app', app) }}
{#                {% for key in app %}#}
{#                {{ debugpopup('dump app.'~key, app[key]) }}#}
{#                {% endfor %}#}
                {{ debugpopup('dump app.config', app.config) }}
                {{ debugpopup('dump app.request', app.request) }}
                {{ debugpopup('dump app.controllers', app.controllers) }}
                {{ debugpopup('dump app.stack', app.stack) }}
                {{ debugpopup('dump app.controllers', app.controllers) }}
                {{ debugpopup('dump app.controllers.get(frontend) ', app.controllers.get('frontend')) }}


            {% endif %}
        </div>
    </div>



{% endblock footer %}  
{% block footerincludes %}

    {#            <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>#}
    {#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}

    {#    <script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/jquery.js', 'theme') }}"></script>
        <script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/what-input.js', 'theme') }}"></script>
        <script src="{{ asset('thirdparty/zurb-foundation-6-prebuilt/foundation.js', 'theme') }}"></script>#}

    <script src="{{ asset('js/foundation6.4.2/jquery.js', 'theme') }}"></script>
    <script src="{{ asset('js/foundation6.4.2/what-input.js', 'theme') }}"></script>
    <script src="{{ asset('js/foundation6.4.2/foundation.js', 'theme') }}"></script>

    {#    <script src="{{ asset('thirdparty/foundation/foundation.js', 'theme') }}"></script>#}

    <script src="{{ asset('js/app.js', 'theme') }}"></script>
{% endblock footerincludes %}  